# Database setting
SPRING_DATASOURCE_URL=jdbc:mysql://{{ db_host }}:3306/{{ db_name }}
SPRING_DATASOURCE_USERNAME={{ db_user }}
SPRING_DATASOURCE_PASSWORD={{ db_password }}

# Web server setting
SERVER_PORT={{ server_port }}